<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>center.planning.pco-alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0DFF367C-D906-46E7-B652-79862EAB172D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A6D301B-B87E-4A67-B9C0-C98FE37A031A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29DC4EAA-E607-4A16-BE1D-F0B67C0AE16D</key>
		<array/>
		<key>29E4399A-7F05-4C15-99B0-737E3A2DCA43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA828405-97FB-4B41-9BC7-334ABE0F11E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40EB5BFE-B581-4F0F-B23A-949B03990740</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1C34737-6CCC-446C-A2C8-4021B0EEA1C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D6A180A-9EDB-4C5E-978D-4146974A25CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47D136CD-6968-4225-B4F1-5C5D9EE30904</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6777063-5C1B-4B94-91B4-EF5A63F1D277</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FE7BA14-531E-4961-8DE3-A96247F0870D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9166884D-833D-4161-90E0-7F70DB876293</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53626B88-0C5B-4C0E-9319-365A5A5D580E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29DC4EAA-E607-4A16-BE1D-F0B67C0AE16D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2EE440C5-A93E-4A53-9BB3-D1A68E4F4E1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54BA070C-CA7E-4835-9D6B-1744259DE073</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2BD436C-210C-43D0-B565-D8C53102D20A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B0EAE7A-F253-407C-8102-1DE9750D1583</key>
		<array/>
		<key>65A2F58C-1054-42E5-9F75-A494DB5563BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB201D18-8F4E-42B7-A577-DD2241A93FF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65B767AF-C173-41C5-871B-4C1895298E49</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47D136CD-6968-4225-B4F1-5C5D9EE30904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D927FD34-37E6-4EBA-848C-B150BC70CB70</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47D136CD-6968-4225-B4F1-5C5D9EE30904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>69132AC9-83AA-4BBB-90F8-40F0DE43ED8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47D136CD-6968-4225-B4F1-5C5D9EE30904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3238AAB4-6837-44D0-9F8A-A1C2489A6EBB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47D136CD-6968-4225-B4F1-5C5D9EE30904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>95BBF6CF-8FEE-44C3-9AFA-5971AED7BBA0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DFF367C-D906-46E7-B652-79862EAB172D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6809DFB2-F9B0-4B03-B6BB-54DD633201B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A6D301B-B87E-4A67-B9C0-C98FE37A031A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A6D301B-B87E-4A67-B9C0-C98FE37A031A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F6935BA-B8CB-48E0-AC33-2FEE19E4C73B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9166884D-833D-4161-90E0-7F70DB876293</key>
		<array/>
		<key>93788A7A-3579-4A1D-9165-517328A8FA82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65A2F58C-1054-42E5-9F75-A494DB5563BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96021B9B-8BDE-498D-AD33-E675FABCB8D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FE7BA14-531E-4961-8DE3-A96247F0870D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F6935BA-B8CB-48E0-AC33-2FEE19E4C73B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40EB5BFE-B581-4F0F-B23A-949B03990740</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B2B9D9F-C7C8-4FDF-B853-EF5DDBCDCBED</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53626B88-0C5B-4C0E-9319-365A5A5D580E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8CAE750-2CFB-44FE-9F43-7429C3FB08F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93788A7A-3579-4A1D-9165-517328A8FA82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1C34737-6CCC-446C-A2C8-4021B0EEA1C4</key>
		<array/>
		<key>C2BD436C-210C-43D0-B565-D8C53102D20A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9166884D-833D-4161-90E0-7F70DB876293</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60B7238B-095C-4476-9A80-FDFA4BAA44D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29E4399A-7F05-4C15-99B0-737E3A2DCA43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>23BB926F-C046-4B79-ACBC-0246E7FEC7EF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8CAE750-2CFB-44FE-9F43-7429C3FB08F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6777063-5C1B-4B94-91B4-EF5A63F1D277</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6809DFB2-F9B0-4B03-B6BB-54DD633201B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA828405-97FB-4B41-9BC7-334ABE0F11E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96021B9B-8BDE-498D-AD33-E675FABCB8D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB201D18-8F4E-42B7-A577-DD2241A93FF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B0EAE7A-F253-407C-8102-1DE9750D1583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Weaver</string>
	<key>description</key>
	<string>PCO Alfred is a collection of links and tasks to speed up your workday at Planning Center.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PCO Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9166884D-833D-4161-90E0-7F70DB876293</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pco</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pco_actions_list.rb</string>
				<key>subtext</key>
				<string>All things Planning Center</string>
				<key>title</key>
				<string>PCO</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>54BA070C-CA7E-4835-9D6B-1744259DE073</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>http</string>
						<key>outputlabel</key>
						<string>Open URL</string>
						<key>uid</key>
						<string>60B7238B-095C-4476-9A80-FDFA4BAA44D5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sidekiq</string>
						<key>outputlabel</key>
						<string>Sidekiq</string>
						<key>uid</key>
						<string>23BB926F-C046-4B79-ACBC-0246E7FEC7EF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>PCO Box</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C2BD436C-210C-43D0-B565-D8C53102D20A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pco_sidekiq_environments_list.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4FE7BA14-531E-4961-8DE3-A96247F0870D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pco_apps_list.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA828405-97FB-4B41-9BC7-334ABE0F11E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>selected_action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>29E4399A-7F05-4C15-99B0-737E3A2DCA43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>selected_app</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>96021B9B-8BDE-498D-AD33-E675FABCB8D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- This is v0.7 of the custom script for AlfredApp for iTerm 3.1.1+
-- created by Sinan Eldem www.sinaneldem.com.tr

on alfred_script(q)
	if application "iTerm2" is running or application "iTerm" is running then
		run script "
			on run {q}
				tell application \"iTerm\"
					activate
					try
						select first window
					on error
						create window with default profile
						select first window
					end try
					tell the current window
						create tab with default profile
						tell current session to write text q
					end tell
				end tell
			end run
		" with parameters {q}
	else
		run script "
			on run {q}
				tell application \"iTerm\"
					activate
					try
						select first window
					on error
						create window with default profile
						select first window
					end try
					tell the first window
						tell current session to write text q
					end tell
				end tell
			end run
		" with parameters {q}
	end if
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>5B0EAE7A-F253-407C-8102-1DE9750D1583</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:box} {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FB201D18-8F4E-42B7-A577-DD2241A93FF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>PCO Box</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B1C34737-6CCC-446C-A2C8-4021B0EEA1C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>bg-log</string>
						<key>outputlabel</key>
						<string>Background Logs</string>
						<key>uid</key>
						<string>65B767AF-C173-41C5-871B-4C1895298E49</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>allow-idle</string>
						<key>outputlabel</key>
						<string>Allow Idle for App</string>
						<key>uid</key>
						<string>D927FD34-37E6-4EBA-848C-B150BC70CB70</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>prevent-idle</string>
						<key>outputlabel</key>
						<string>Prevent Idle for App</string>
						<key>uid</key>
						<string>3238AAB4-6837-44D0-9F8A-A1C2489A6EBB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>restart-app</string>
						<key>outputlabel</key>
						<string>Restart App</string>
						<key>uid</key>
						<string>69132AC9-83AA-4BBB-90F8-40F0DE43ED8D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>Open App</string>
						<key>uid</key>
						<string>95BBF6CF-8FEE-44C3-9AFA-5971AED7BBA0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>65A2F58C-1054-42E5-9F75-A494DB5563BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require "open3"

command = "{query}"

stdout, stderr, status = Open3.capture3("~/pco-box/bin/box #{command}")

case command
when "start", "stop", "restart"
  puts "box #{command} complete"
else
  puts stdout.gsub(/(\e\[\w+)?\e\[[\w;]+m/, "").split("\r").last.gsub(/\n/, "")
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>build_app_command.rb</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6809DFB2-F9B0-4B03-B6BB-54DD633201B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pco_apps_list.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6777063-5C1B-4B94-91B4-EF5A63F1D277</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>box</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb {query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pco_box_actions_list.rb</string>
				<key>subtext</key>
				<string>So much productive</string>
				<key>title</key>
				<string>PCO Box</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93788A7A-3579-4A1D-9165-517328A8FA82</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/usr/bin/env ruby
# encoding: utf-8

require_relative "lib/build_notification"

$stdout.puts(BuildNotification.new(
  output: ENV.fetch("output"),
  selected_action: ENV.fetch("selected_action"),
  selected_app: ENV.fetch("selected_app", nil)
).to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>build_notification.rb</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40EB5BFE-B581-4F0F-B23A-949B03990740</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>selected_action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>47D136CD-6968-4225-B4F1-5C5D9EE30904</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A8CAE750-2CFB-44FE-9F43-7429C3FB08F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Glass</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>5D6A180A-9EDB-4C5E-978D-4146974A25CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>require "open3"

command = "{query}"

stdout, stderr, status = Open3.capture3("~/pco-box/bin/box #{command}")

case command
when "start", "stop", "restart"
  puts "box #{command} complete"
else
  puts stdout.gsub(/(\e\[\w+)?\e\[[\w;]+m/, "").split("\r").last.gsub(/\n/, "")
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run_pco_box_command.rb</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A6D301B-B87E-4A67-B9C0-C98FE37A031A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>Success</string>
						<key>uid</key>
						<string>5B2B9D9F-C7C8-4FDF-B853-EF5DDBCDCBED</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9F6935BA-B8CB-48E0-AC33-2FEE19E4C73B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:box} {query}</string>
				<key>variables</key>
				<dict>
					<key>selected_action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DFF367C-D906-46E7-B652-79862EAB172D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Something went wrong!</string>
				<key>title</key>
				<string>FAILED!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>29DC4EAA-E607-4A16-BE1D-F0B67C0AE16D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>53626B88-0C5B-4C0E-9319-365A5A5D580E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Submarine</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2EE440C5-A93E-4A53-9BB3-D1A68E4F4E1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>PCO Alfred is a collection of links and tasks to speed up your workday at Planning Center.


Type "pco", or "box" in the Alfred search bar to get started.</string>
	<key>uidata</key>
	<dict>
		<key>0DFF367C-D906-46E7-B652-79862EAB172D</key>
		<dict>
			<key>note</key>
			<string>Save the selected action for use later in the notification, and output a full box command.</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>29DC4EAA-E607-4A16-BE1D-F0B67C0AE16D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1845</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>29E4399A-7F05-4C15-99B0-737E3A2DCA43</key>
		<dict>
			<key>note</key>
			<string>Start with blank input for App selection, and save the selected action for later.</string>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>2EE440C5-A93E-4A53-9BB3-D1A68E4F4E1A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1845</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>40EB5BFE-B581-4F0F-B23A-949B03990740</key>
		<dict>
			<key>note</key>
			<string>Build the success notification.</string>
			<key>xpos</key>
			<integer>1680</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>47D136CD-6968-4225-B4F1-5C5D9EE30904</key>
		<dict>
			<key>note</key>
			<string>Start with blank input for Apps selection, and assign the selected action to an ENV var for use later.</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>4FE7BA14-531E-4961-8DE3-A96247F0870D</key>
		<dict>
			<key>note</key>
			<string>PCO Environments List</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>53626B88-0C5B-4C0E-9319-365A5A5D580E</key>
		<dict>
			<key>xpos</key>
			<integer>1680</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>54BA070C-CA7E-4835-9D6B-1744259DE073</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>5B0EAE7A-F253-407C-8102-1DE9750D1583</key>
		<dict>
			<key>note</key>
			<string>Tail AllTheProcfiles in a new iTerm tab.</string>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>5D6A180A-9EDB-4C5E-978D-4146974A25CB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>1845</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>65A2F58C-1054-42E5-9F75-A494DB5563BF</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>6809DFB2-F9B0-4B03-B6BB-54DD633201B2</key>
		<dict>
			<key>note</key>
			<string>Builds up the action specific command for the selected app.</string>
			<key>xpos</key>
			<integer>1215</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>7A6D301B-B87E-4A67-B9C0-C98FE37A031A</key>
		<dict>
			<key>note</key>
			<string>Run box command</string>
			<key>xpos</key>
			<integer>1405</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>9166884D-833D-4161-90E0-7F70DB876293</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>93788A7A-3579-4A1D-9165-517328A8FA82</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>96021B9B-8BDE-498D-AD33-E675FABCB8D8</key>
		<dict>
			<key>note</key>
			<string>Start with blank input for Environment selection, and save the selected app for use later.</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>9F6935BA-B8CB-48E0-AC33-2FEE19E4C73B</key>
		<dict>
			<key>xpos</key>
			<integer>1560</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>A8CAE750-2CFB-44FE-9F43-7429C3FB08F9</key>
		<dict>
			<key>note</key>
			<string>Start with blank input for PCO Box action selection.</string>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>B1C34737-6CCC-446C-A2C8-4021B0EEA1C4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>1845</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>C2BD436C-210C-43D0-B565-D8C53102D20A</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>C6777063-5C1B-4B94-91B4-EF5A63F1D277</key>
		<dict>
			<key>note</key>
			<string>PCO Apps List</string>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>CA828405-97FB-4B41-9BC7-334ABE0F11E3</key>
		<dict>
			<key>note</key>
			<string>PCO Apps List</string>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>FB201D18-8F4E-42B7-A577-DD2241A93FF3</key>
		<dict>
			<key>note</key>
			<string>Convert the selected action to a full box command.</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>box</key>
		<string>~/pco-box/bin/box</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/bweave/pco-alfred</string>
</dict>
</plist>
